django
django-heroku
gunicorn==19.9.0
MarkupSafe==1.0
flask==1.0.2
numpy==1.15.4
pandas==0.23.4
bokeh==1.0.2
dill==0.2.8.2
jinja2
pip==19.2
requests==2.21.0
geopandas==0.4.0
pysal==1.14.4.post1
scikit-learn==0.20.1
