<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Welcome to the Machine Learning Flowchart page</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='flowchart.css')}}'>

  </head>
  <body>
    <div class="container">
              <p><a href="/">Home</a></p>
      <div class="row">
        <div class="col-lg-12 text-left">
              <h1>Machine Learning Project Flowchart</h1>
              <!-- <img src="ML Flowchart.jpg" alt="ML Flowchart" width="500" height="300"> -->
              <center><a data-flickr-embed="true"  href="https://www.flickr.com/photos/164577565@N03/40381060163/in/dateposted-public/" title="ML Flowchart"><img src="https://farm8.staticflickr.com/7804/40381060163_7fd2b64258_z.jpg" width="850" height="1000" alt="ML Flowchart"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></center>


            <!-- <div id="container">

              <div id="no1"><a href="https://data.nrel.gov/submissions/81">NREL Replica Dataset</a></div>
              <div id="line1"></div>
              <div id="line2"></div>
              <div id="line3"></div>
              <div id="line4"></div>
              <div id="line5"></div>
              <div id="line6"></div>
              <div id="no2"><a href="#">Main Replica LiDAR Data</a></div>
              <div id="no3"><a href="#">Associated Demographic Data</a></div>
              <div id="no4"><a href="#">Solar Irradiation Data</a></div>
              <div id="no5"><a href="#">Solar Savings Data</a></div>
              <div id="line7"></div>
              <div id="line8"></div>
              <div class="clear"></div>
              <div id="no6"><a href="#">Factory Manager</a></div>
              <div id="line9"></div>
              <div id="line10"></div>
              <div id="no7"><a href="#">Management Accountant</a></div>
              <div id="line11"></div>
              <div id="line12"></div>
              <div class="clear"></div>
              <div id="line13"></div>
              <div id="line14"></div>
              <div class="clear"></div>
              <div id="no8"><a href="#">Quality Control Manager</a></div>
              <div id="line15"></div>
              <div id="line16"></div>
              <div id="no9"><a href="#">Financial Accountant</a></div>
              <div id="line17"></div>
              <div id="line18"></div>
              <div class="clear"></div>

            </div> -->

        </div>
      </div>
    </div>

  </body>
</html>
